.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.pytest_cache
/.python-version
/.pytype/
/.vscode
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
working-dir/
target/
sql_app.db
/env
/venv
dbt-core-server-exploration/
dbt.log
.DS_Store
*/.user.yml
