SQLAlchemy==1.4.23
diff-match-patch==20200713
fastapi==0.88.0
python-json-logger==2.0.4
sse-starlette==0.9.0
gunicorn==20.1.0
uvicorn[standard]==0.18.3
websockets==10.0
psutil==5.9.2
requests==2.26.0
celery==5.2.7
redis==4.5.4
